/* global style */
body {
  height: 1000px;
}
::-webkit-scrollbar {
  background: rgb(72, 72, 72);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(22, 22, 22);
  border-radius: 50px;
}
/* start navbar style*/
#navbar {
  transition: all 0.5s;
}
.bg-dark {
  background-color: #0e0e0e !important;
}
.shadow-lg {
  box-shadow: 0 0 15px 15px #0e0e0e !important;
}
.search-btn {
  width: 40px;
  height: 40px;
  line-height: 1;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  z-index: 2;
}

.searchInp-static {
  width: 35px;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  background-color: transparent;
  transition: width 0.3s, border-radius 3s ease-in-out, background-color 0.5s;
}

.searchInp-static::placeholder {
  color: transparent;
}
#searchInp {
  font-size: 16px;
}
#searchInp:focus {
  outline: none;
}
.searchInp-anim {
  width: 215px;
  padding: 8px 15px;
  border: 2px solid;
  right: -7px;
  border-radius: 25px;
  position: absolute;
  z-index: 1;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  transition: width 0.3s ease-in-out, background-color 0.3s;
}
.search-icon{
  background-color: black;
  margin-right: 100px;
  padding:7px 20px ;
  transform: translateX(-55%);
  color: white;
  border-radius: 20px;
  transition: all .2s;
}
/* end  navbar style*/

/* start category style */
.categorySec {
  background: url(../img/wraper.png);
  background-color: #272b30;
  padding: 120px 0 50px;
}
.categorySec .row .col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-btn {
  font-size: 13px;
  font-weight: 400;
  padding: 7px 15px;
  border-color: white;
  color: white;
}
.category-btn:hover {
  background-color: white;
  color: black;
}
/* end category style */

/* start main style */
.games-section {
  background-color: #272b30;
  box-shadow: 0px -30px 30px 10px #272b30;
  padding: 50px 0 250px !important;
}
.card-footer {
  padding: 10px 15px;
  border-top: 1px solid #7171719e;
}

.card-footer span {
  font-size: 13px;
  background-color: #272b30;
  padding: 3px 7px;
  border-radius: 5px;
}
.card .img-container img {
  opacity: 0.5;
  transition: all 0.3s;
}
.card:hover .img-container img {
  opacity: 1;
}
.card-body {
  height: 430px;
}
.not-found-msg {
  height: 100vh;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  top: 180px;
  left: 45%;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
/* end main style */


